# Configuration file for ImageJ plugin "ijGranulometry"
#
# comments starts with #
# Each entry is menuname, "Command text", classname

Plugins>Background, "Fit Polynomial Background", imago.plugin.vignetting.FitBackgroundPlugin
Plugins>Background, "Homogenize Background", imago.plugin.vignetting.HomogenizeBackgroundPlugin
